@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: blue;
}

/* RTL Layout */
html[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

/* Fix for RTL in Tailwind */
[dir="rtl"] .rtl\:text-right {
  text-align: right;
}

[dir="rtl"] .rtl\:text-left {
  text-align: left;
}

[dir="rtl"] .rtl\:mr-2 {
  margin-right: 0.5rem;
  margin-left: 0;
}

[dir="rtl"] .rtl\:ml-2 {
  margin-left: 0.5rem;
  margin-right: 0;
}
